{% extends "base.html" %}
{% import "bootstrap5/form.html" as form %}

{% block page_content %}
<div class="page-header">
  <h1>Book - {{ bk.name }} <a href="/edit-book/{{ bk.id }}"><button type="button" class="btn btn-primary">Edit book</button></a>
</h1>
  {{ bk.words|length }} words, owner: {{ bk.owner.username }}, created: {{ bk.createtime.date() }}
</div>
<hr>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  {% if bk.words|length == 0 %}
  <button type="button" class="btn btn-primary disabled">Practice</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle disabled" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  </div>
  {% else %}
  <button type="button" class="btn btn-primary">Practice</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
      <a class="dropdown-item" href="/practice/{{ bk.id }}/0">word to def</a>
      <a class="dropdown-item" href="/practice/{{ bk.id }}/1">def to word</a>
      <a class="dropdown-item" href="/practice/{{ bk.id }}/2">type word</a>
    </div>
  </div>
  {% endif %}
</div>
<a href="/add-word/{{ bk.id }}"><button type="button" class="btn btn-primary">Add word</button></a>
<a href="/load-file/{{ bk.id }}"><button type="button" class="btn btn-primary">Load from file</button></a>
<hr>
<table class="table">
  <thread>
    <tr class="table-primary">
      <th>id</th>
      <th>word</th>
      <th>definition</th>
      <th></th>
    </tr>
  </thread>
  <tbody>
    {% for word in bk.words %}
    <tr>
      <td>{{ word.id }}</td>
      <td>{{ word.word|truncate(20) }}</td>
      <td>{{ word.definition|truncate(40) }}</td>
      <td><a href="/edit-word/{{ word.id }}"><button type="button" class="btn btn-primary btn-sm">edit</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
