{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Mntr{% endblock %}

{% block page_content %}

{% if current_user.is_authenticated %}
<h2>My Books <a href="/add-book"><button type="button" class="btn btn-primary">Add</button></a></h2>
<hr>

{% for my_book in my_books %}
<a href="/book/{{ my_book.id }}">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{ my_book.name }}</div>
    <div class="card-body">
      <p class="card-text">
	{{ my_book.words|length }} words<br>
	created: {{ my_book.createtime.date() }}
      </p>
    </div>
  </div>
</a>
{% endfor %}
<hr>
<h2>Read it aloud!</h2>
<div class="col-md-10">
  {{ wtf.render_form(form) }}
</div>
<br>
Use back button to go back to this page...sorry...
{% endif %}
<hr>
{% endblock %}
