{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Mntr{% endblock %}

{% block page_content %}

<img src="/static/vBtitle.jpg" class="img-fluid" alt="Responsive image">

<hr>

{% if current_user.is_authenticated %}
<h2>Word books <a href="/add-book"><button type="button" class="btn btn-primary"><i class="bi-book" style="font-size: 1.2rem"></i> Add</button></a></h2>

<p>Choose a book to practice.</p>

{% for my_book in my_books %}
<a href="/book/{{ my_book.id }}">
  {% if my_book.owner_id == current_user.id %}
  <div class="card text-white bg-primary mb-4" style="max-width: 30rem;">
    <div class="card-header"> {{ my_book.name }}
      {% if my_book.shared %}
      <span class="badge bg-success">public</span>
      {% endif %}
      {% if my_book.level == 'Beginner' %}
      <span class="badge rounded-pill bg-info">beginner</span>
      {% elif my_book.level == 'Intermediate' %}
      <span class="badge rounded-pill bg-warning">intermediate</span>
      {% elif my_book.level == 'Advanced' %}
      <span class="badge rounded-pill bg-danger">advanced</span>
      {% elif my_book.level %}
      <span class="badge rounded-pill bg-light">{{ my_book.level.lower() }}</span>
      {% endif %}
      </div>
    <div class="card-body">
      <p class="card-text">
	{{ my_book.words|length }} words<br>
	created: {{ moment(my_book.createtime).format('LLL') }}<br>
	last modified: {{ moment(my_book.last_modified).format('LLL') }}
      </p>
    </div>
  </div>
  {% else %}
  <div class="card text-white bg-success mb-4" style="max-width: 30rem;">
    <div class="card-header"> {{ my_book.name }}
      {% if my_book.shared %}
      <span class="badge bg-success">public</span>
      {% endif %}
      {% if my_book.level == 'Beginner' %}
      <span class="badge rounded-pill bg-info">beginner</span>
      {% elif my_book.level == 'Intermediate' %}
      <span class="badge rounded-pill bg-warning">intermediate</span>
      {% elif my_book.level == 'Advanced' %}
      <span class="badge rounded-pill bg-danger">advanced</span>
      {% elif my_book.level %}
      <span class="badge rounded-pill bg-light">{{ my_book.level.lower() }}</span>
      {% endif %}
      </div>
    <div class="card-body">
      <p class="card-text">
	{{ my_book.words|length }} words<br>
	created: {{ moment(my_book.createtime).format('LLL') }}<br>
	last modified: {{ moment(my_book.last_modified).format('LLL') }}
      </p>
    </div>
  </div>
  {% endif %}
</a>
{% endfor %}

<hr>
<h3>Backup and restore</h3>
<p>You can export your books and progress to a local file in case your data is lost.</p>
<p>
<a href="/export"><button type="button" class="btn btn-primary"><i class="bi-download" style="font-size: 1.2rem"></i> export all</button></a>
<a href="/import"><button type="button" class="btn btn-info"><i class="bi-upload" style="font-size: 1.2rem"></i> import and restore</button></a>
</p>
<div class="card text-white bg-danger mb-3" style="max-width: 60rem;">
  <div class="card-body">
    <h4 class="card-title">Important notice</h4>
    <p class="card-text">Please be sure to export your data frequently as no backup is taken and database migration is not supported. (ie, sorry, sometimes happens)</p>
  </div>
</div>
{% else %}
<h1>Welcome to vocaBull!</h1>
<hr>
<p>This is the right place to build your vocabularly skills.</p>
<p>Click the menu icon at the top-right corner and choose login.  Then, click "Click here to register" to create your account.</p>
<hr>
<h3>Can't login?</h3>
<p>If you are an existing user but you can't login, the database might have been initialized.  This happens when there's an update to the database (note: database migration is not supported), a bug, disaster, etc.</p>
<p>In this case, you'll need to re-create your user account, login again and import your data.  If you haven't exported your data, sorry but you are unlucky; You'll have to start over.</p>
{% endif %}
<hr>
<p class="text-secondary"><span class="badge rounded-pill bg-primary">/vB/</span> - 2023, 2024 Kyosuke Achiwa</p>

{% endblock %}
