{% extends "base.html" %}
{% import "bootstrap5/form.html" as form %}


{% block page_content %}
<div class="page-header">
  <h1>Practice - {{ bk.name }}
    <a href="/book/{{ bk.id }}"><button type="button" class="btn btn-primary">Back to book</button></a></h1>
  {% if ptype == '2' %}
  <span class="badge bg-success">type word</span>
  {% elif ptype == '1' %}
  <span class="badge bg-info">def to word</span>
  {% else %}
  <span class="badge bg-primary">word to def</span>
  {% endif %}
</div>
<hr>

<table class="table table-hover">
  <tbody>
    <tr class="table-primary">
      <th scope="row">today: {{ session['tmp_score'] }}</th>
      <td>word to def: {{ prac.score_w2d }}</td>
      <td>def to word: {{ prac.score_d2w }}</td>
      <td>type word: {{ prac.score_type }}</td>
    </tr>
  </tbody>
</table>

{% if ptype == '0' %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card text-white bg-primary mb-3 text-center" style="height: 10rem;">
	<div class="card-body">
	  <h3 class="card-title">{{ word.word }}</h3>
	</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card text-white bg-info mb-3 text-center" style="height: 10rem;">
	<div class="card-body">
	  <h3 class="card-title">{{ word.definition }}</h3>
	  <p class="card-text">{{ word.sample }}</p>
	</div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"></a>
    <a class="carousel-control-next carousel-control-width: 50%" href="#carouselExampleIndicators" role="button" data-slide="next"></a>
  </div>
</div>
{% else %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="card text-white bg-primary mb-3 text-center" style="height: 10rem;">
	<div class="card-body">
	  <h3 class="card-title">{{ word.word }}</h3>
	  <p class="card-text">{{ word.sample }}</p>
	</div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card text-white bg-info mb-3 text-center" style="height: 10rem;">
	<div class="card-body">
	  <h3 class="card-title">{{ word.definition }}</h3>
	</div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"></a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"></a>
  </div>
</div>
{% endif %}

<a href="/practice-oncemore"><button type="button" class="btn btn-primary">Once more</button></a>
<a href="/practice-memorized/{{ ptype }}/1"><button type="button" class="btn btn-primary">Memorized for now</button></a>
<a href="/practice-memorized/{{ ptype }}/5"><button type="button" class="btn btn-info">Knew it!</button></a>
<hr>
<a href="#" onclick="javascript:speechWord();"><button type="button" class="btn btn-primary">Pronounce word</button></a>
<a href="/edit-word/{{ word.id }}"><button type="button" class="btn btn-primary">Edit word</button></a>
</p>

<hr>
{% if session["debug"] %}
<p class="text-secondary">
  for debug -
  <br>
  index: {{ session["index"] }} - {{ session["lwin"] }}, 
  prac: {{ prac }}, {{ word }}
</p>
{% endif %}

<script>
  function speechWord()
  {
      var msg = new SpeechSynthesisUtterance("{{ word.word }}");
      msg.lang = '{{ session["word_lang"] }}';
      window.speechSynthesis.speak(msg);
  }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://rawgithub.com/hiddentao/google-tts/master/google-tts.min.js"></script>
<style>
  .carousel-control-prev, .carousel-control-next {
      width: 50%;
  }
</style>
{% endblock %}
