{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block page_content %}
{% if correct == "True" %}
<div class="card text-white bg-success mb-8" style="max-width: 60rem;">
{% else %}
<div class="card text-white bg-danger mb-8" style="max-width: 60rem;">
{% endif %}
  <div class="card-body">
    <h4 class="card-text">{{ word.word }}</h4>
    {{ word.definition }} - {{ word.sample }}
  </div>
</div>
<div class="col-md-8">
  {{ wtf.render_form(form) }}
</div>

<hr>
{% if session["debug"] %}
<p class="text-secondary">
  for debug -
  <br>
  index: {{ session["index"] }} - {{ session["lwin"] }}, 
  prac: {{ prac }}, {{ word }}
</p>
{% endif %}

{% endblock %}
