{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block page_content %}

<table class="table table-hover">
  <tbody>
    <tr class="table-primary">
      <th scope="row">today: {{ session['tmp_score'] }}</th>
      <td>word to def: {{ prac.score_w2d }}</td>
      <td>def to word: {{ prac.score_d2w }}</td>
      <td>type word: {{ prac.score_type }}</td>
    </tr>
  </tbody>
</table>


{% if correct == "True" %}
<div class="card text-white bg-success mb-8" style="max-width: 60rem;">
{% else %}
<div class="card text-white bg-danger mb-8" style="max-width: 60rem;">
{% endif %}
  <div class="card-body">
    <h4 class="card-text">{{ word.word }}</h4>
    {{ word.definition }} - {{ word.sample }}
  </div>
</div>
<div class="col-md-8">
  {{ wtf.render_form(form) }}
</div>

<hr>
<a href="#" onclick="javascript:speechWord();"><button type="button" class="btn btn-primary">Pronounce word</button></a>
<a href="/edit-word/{{ word.id }}"><button type="button" class="btn btn-primary">Edit word</button></a>

<hr>
{% if session["debug"] %}
<p class="text-secondary">
  for debug -
  <br>
  index: {{ session["index"] }} - {{ session["lwin"] }}, 
  prac: {{ prac }}, {{ word }}
</p>
{% endif %}

<script>
  function speechWord()
  {
      var msg = new SpeechSynthesisUtterance("{{ word.word }}");
      msg.lang = '{{ session["word_lang"] }}';
      window.speechSynthesis.speak(msg);
  }
</script>

{% endblock %}
